<h4>You are in <%= @board.title %></h4>

<h1>
	<%= @post.author %>
</h1>

<hr>

<p>
	<%= @post.content %>
</p>

<br>

<%= @post.picture %>
<%= link_to "edit", edit_board_post_path(@board, @post) %>
<%= link_to "Back", board_posts_path(@board) %>


